.withdraw-process .hd {
  font-size: 18px;
  padding: 18px 0 23px 75px;
}
.withdraw-process .dt {
  padding-bottom: 8px;
  display: inline-block;
  width: 110px;
  text-align: left;
}
.withdraw-process .dd {
  display: inline-block;
  margin-left: 30px;
  width: 110px;
}
.withdraw-process .dd2 {
  margin-left: 210px;
  display: inline-block;
  width: 130px;
}
.bd .process_status {
  border-bottom: 1px solid #dedede;
  padding: 30px 0 30px 75px;
}
.bd .p_notice {
  font-size: 14px;
  color: #6A7474;
  padding-bottom: 30px;
}
.bd .p_bold {
  color: #393;
  font-weight: bold;
}
.bd .loading {
  display: inline-block;
  width: 494px;
  height: 24px;
  background: url('/Content/images/resourImg/withdraw/loading.jpg') no-repeat 8px 0;
}
.bd .process_opts {
  padding: 15px 0 12px 75px;
}
.bd .process_btn {
  color: #0383D9;
  margin-left: 20px;
}
